body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
h1 {
    color: #333;
}
  
#ExpenseList {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
}
#AddExpenseForm {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}
  
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
  
label {
    margin-bottom: 10px;
}
  
  input {
    padding: 8px;
    margin-bottom: 15px;
  }
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #ExpenseSummary {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
  }
  
  #Chart {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
  }