.user-profile {
  font-family: Arial, sans-serif;
  border: 2px solid #3498db;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px;
  margin: 20px auto;
  background-color: #f2f7ff;
}

.user-profile h2 {
  color: #3498db;
  text-align: center;
}

.user-profile div {
  margin: 10px 0;
}

.user-profile button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.user-profile button:hover {
  background-color: #217dbb;
}

.user-profile input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-profile input[type="password"]:focus {
  outline: none;
  border-color: #3498db;
}

.user-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 1px blue
}
.user-con{
  width: 60%;
}