
.sidebar {
    position: fixed;
    padding: 8px;
    height: 100vh;
    transition: width 0.5s, padding 0.5s; 
}

.sidebar.collapsed .navbar-header h2 {
    display: none;
}
.sidebar.collapsed .navbar-header {
    justify-content: center;
  }

  .navbar-header h2{
    margin-right: 100px;
  }

.sidebar.collapsed {
    width: 50px;
    padding: 8px 0;
}

.nav__links.hidden {
    display: none;
}

.navbar-toggle {
    margin-top: 6px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.navbar-toggle i{
    margin-top: 10px;
}

.hidden {
    display: none;
  }
  
  .navbar-header {
    display: flex;
    align-items: center;
  }
