/* Remove any transition delay as it might be causing unexpected behavior */
.sidebar {
    position: fixed;
    padding: 8px;
    height: 100vh;
    transition: width 0.5s, padding 0.5s; /* Smooth transition for width and padding */
    /* ... other styles ... */
}

/* Immediately hide the 'ShareSettle' when the sidebar is collapsed */
.sidebar.collapsed .navbar-header h2 {
    display: none;
}
.sidebar.collapsed .navbar-header {
    justify-content: center; /* This will center the toggle icon horizontally */
  }

  .navbar-header h2{
    margin-right: 100px;
  }

/* Make sure to only adjust the width and padding when the sidebar is collapsed */
.sidebar.collapsed {
    width: 50px; /* Adjust this width to how wide you want the collapsed sidebar to be */
    padding: 8px 0; /* Adjust padding to remove horizontal padding */
}

/* Hide the links immediately without any delay */
.nav__links.hidden {
    display: none;
}

/* Ensure that the navbar-toggle is positioned correctly */
.navbar-toggle {
    margin-top: 6px;
    margin-left: 10px; /* Adjust this if necessary */
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.navbar-toggle i{
    margin-top: 10px;
}

/* This hides the h2 element when the sidebar is collapsed */
.hidden {
    display: none;
  }
  
  /* Adjust the navbar-header to handle the alignment */
  .navbar-header {
    display: flex;
    align-items: center;
  }
